# Default owners
* @Albertobelleiro

# Workflows and release process
.github/workflows/* @Albertobelleiro
.github/release.yml @Albertobelleiro

# Core package
src/** @Albertobelleiro
extensions/** @Albertobelleiro
